{
    "swagger": "2.0",
    "info": {
        "description": "hyperf swagger api desc",
        "version": "1.0.0",
        "title": "HYPERF API DOC"
    },
    "host": "hyperf.io",
    "schemes": [
        "http"
    ],
    "tags": [
        {
            "name": "用户管理",
            "description": "用户的新增\/修改\/删除接口"
        }
    ],
    "definitions": {
        "ModelArray": {
            "type": "array",
            "required": [],
            "items": {
                "type": "string"
            }
        },
        "ModelObject": {
            "type": "object",
            "required": [],
            "items": {
                "type": "string"
            }
        },
        "UserPostResponse0": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "UserDeepAssoc": {
            "type": "object",
            "required": [],
            "properties": {
                "name_1": {
                    "type": "string",
                    "description": "名称"
                }
            }
        },
        "UserDeepUassoc": {
            "type": "object",
            "required": [],
            "properties": {
                "name_2": {
                    "type": "string",
                    "description": "名称"
                }
            }
        },
        "User": {
            "type": "object",
            "required": [],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "用户id"
                },
                "deepAssoc": {
                    "$ref": "#\/definitions\/UserDeepAssoc",
                    "type": "object",
                    "description": "深层关联"
                },
                "deepUassoc": {
                    "items": {
                        "$ref": "#\/definitions\/UserDeepUassoc"
                    },
                    "type": "array",
                    "description": "深层索引"
                }
            }
        },
        "UserDeleteResponse0": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                }
            }
        },
        "UserGetResponse0": {
            "properties": {
                "id": {
                    "type": "integer",
                    "default": 1
                },
                "name": {
                    "type": "string",
                    "default": "张三"
                },
                "age": {
                    "type": "integer",
                    "default": 1
                }
            }
        }
    },
    "paths": {
        "\/user": {
            "post": {
                "tags": [
                    "用户管理"
                ],
                "summary": "",
                "operationId": "UserPOST",
                "parameters": [
                    {
                        "in": "header",
                        "name": "token",
                        "description": "接口访问凭证",
                        "required": true,
                        "type": "string",
                        "default": null
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "名称",
                        "required": true,
                        "type": "string",
                        "default": null
                    },
                    {
                        "in": "formData",
                        "name": "sex",
                        "description": "年龄",
                        "required": false,
                        "type": "string",
                        "default": null
                    },
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "文件",
                        "required": false,
                        "type": "file",
                        "default": null
                    }
                ],
                "produces": [
                    "application\/json"
                ],
                "responses": {
                    "-1": {
                        "description": "参数错误"
                    },
                    "0": {
                        "description": "创建成功",
                        "schema": {
                            "$ref": "#\/definitions\/UserPostResponse0"
                        }
                    }
                },
                "description": "添加一个用户",
                "consumes": [
                    "application\/x-www-form-urlencoded"
                ]
            },
            "delete": {
                "tags": [
                    "用户管理"
                ],
                "summary": "",
                "operationId": "UserDELETE",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/User"
                        }
                    }
                ],
                "produces": [
                    "application\/json"
                ],
                "responses": {
                    "-1": {
                        "description": "参数错误"
                    },
                    "0": {
                        "description": "删除成功",
                        "schema": {
                            "$ref": "#\/definitions\/UserDeleteResponse0"
                        }
                    }
                },
                "description": "删除用户",
                "consumes": [
                    "application\/json"
                ]
            },
            "get": {
                "tags": [
                    "用户管理"
                ],
                "summary": "",
                "operationId": "UserGET",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": null
                    }
                ],
                "produces": [
                    "application\/json"
                ],
                "responses": {
                    "-1": {
                        "description": "参数错误"
                    },
                    "0": {
                        "description": null,
                        "schema": {
                            "$ref": "#\/definitions\/UserGetResponse0"
                        }
                    }
                },
                "description": "获取用户详情"
            }
        }
    }
}